.cart {
    color: #fff;
    float: right;
    border-left: 1px solid #686869;
    padding: 0 0 0 20px;
    margin: 0 0 0 20px;

    &_icon {
        @include invisible-text;
        background: url(../img/cart.png) no-repeat;
        display: inline-block;
        margin: 0 14px 0 0;
        height: 21px;
        width: 21px;
        vertical-align: middle;
    }
    &_link {
        @extend %fake-link;
        color: #fff;
        font-weight: bold;

        &:hover {
            color: #ccc;
        }
    }
    &_total {
        font-weight: bold;
    }
}
