.categories-menu {
    float: left;
    margin: -5px 0 0;

    &_link {
        @extend %border-link;
        color: #282828;
        font: bold 18px $headings_font-family;
        margin: 0 37px 0 0;

        &:hover {
            color: #0067d1;
        }
    }
}
