.login {
    float: right;
    padding: 15px 0;
    @include tablet {
        position: absolute;
        top: 15px;
        right: 74px;
    }

    &_link {
        @extend %fake-link;
        color: #fff;
        position: relative;
        @include tablet {
            @include invisible-text;
            display: inline-block;
            line-height: 19px;
            vertical-align: middle;
        }

        &:before {
            content: "";
            background: url(../image/door.png) no-repeat;
            position: absolute;
            height: 21px;
            width: 15px;
            top: 0px;
            left: -30px;
        }
        &:hover {
            color: #ccc;
        }
    }
}
