.search {
    float: right;
    margin: 8px 0 0;
    position: relative;
    @include tablet {
        clear: both;
        width: 100%;
    }

    &_input {
        padding-right: 40px;
        width: 285px;
        @include tablet {
            box-sizing: border-box;
            width: 100%;
        }
    }
    &_icon {
        @include invisible-text;
        background: url(../image/search.png) no-repeat;
        position: absolute;
        top: 9px;
        right: 11px;
        height: 17px;
        width: 20px;
    }
}
