.button {
    background: $link_color;
    border:none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font: 15px $headings_font-family;
    padding: 9px 25px;
    text-decoration: none;
    transition: .2s ease background-color, .2s ease color;

    &:hover {
        background: #0060c2;
        color: #fff;
    }
    &__disabled {
        background: #dadada;
    }
    &__light {
        background: #fff;
        color: $default_color;

        &:hover {
        background: #ccc;
            color: #fff;
        }
    }

    .popup & {
        font-family: $default_font-family;
    }
}