.about {
    @extend %clearfix;
    clear: both;
    border-bottom: 1px solid #d4d4d4;

    &_image {
        float: left;
        margin: -80px 105px 0 100px;
        @include tablet {
            margin-right: 40px;
            margin-left: 30px;
        }
        @include tablet-small {
            display: none;
        }
    }
    &_title {
        font: bold 32px $default_font-family;
        margin: 30px 0 20px;
        @include tablet {
            font-size: 20px;
        }
    }
    a {
        @extend %fake-link;
    }
    p {
        margin: 0 0 0 396px;
        @include tablet {
            margin: 0 0 0 261px;
        }
        @include tablet-small {
            margin: 0;
        }
    }
    sup {
        font-size: 18px;
    }
}