.main-bottom {
    @extend %clearfix;
    margin: 45px 0 30px;

    &_left {
        float: left;
        width: 63%;
        @include media($tablet-small) {
            width: 100%;
        }
    }
    &_right {
        float: right;
        width: 32%;
        @include media($tablet-small) {
            width: 100%;
        }
    }
    &_heading {
        font-size: 30px;
        margin: 0 0 20px;
        display: inline-block;
    }
}