/*Layout*/
/*Fonts*/
/*Inputs*/
.footer_top, .footer_bottom, .page, .header_top, .header_center, .header_bottom {
  clear: both;
  zoom: 1; }
  .footer_top:after, .footer_bottom:after, .page:after, .header_top:after, .header_center:after, .header_bottom:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden; }

.footer_site-map, .footer_up, .breadcrumbs_link, .categories-menu_link {
  border-bottom: 1px solid;
  text-decoration: none; }

/*Form elements*/
.button {
  border: 1px solid #000;
  display: inline-block;
  font: 16px 'Roboto Slab', serif;
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease background-color, 0.2s ease color; }
  .button:hover {
    color: #fff; }

.choose-button {
  border: 1px solid transparent;
  color: #fff;
  float: left;
  clear: both;
  font: 16px 'Roboto Slab', serif;
  margin: 5px 0;
  min-width: 150px;
  padding: 15px 20px 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease border-color, 0.2s ease background-color; }
  .choose-button:active {
    color: #000; }

input[type="text"], input[type="password"], input[type="email"] {
  background: #fff;
  border: 1px solid #e7ebec;
  color: #000;
  border-radius: 2px;
  padding: 10px 15px;
  transition: 0.2s ease border-color; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: #000; }
  input[type="text"]::-moz-focus-inner, input[type="password"]::-moz-focus-inner, input[type="email"]::-moz-focus-inner {
    border: 0; }
  input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
    color: #000; }
  input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="email"]::-moz-placeholder {
    color: #000; }
  input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder {
    color: #000; }

input.search {
  background-image: url(./images/search.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 36px;
  margin: 0 0 0 10px; }

textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: transparent;
  border: 1px solid #e7ebec;
  color: #000;
  font: 12px 'Roboto Slab', serif;
  min-height: 100px;
  overflow: auto;
  padding: 6px 13px;
  text-transform: uppercase;
  resize: none;
  transition: 0.2s ease border-color;
  width: 100%; }
  textarea:focus {
    border-color: #fff; }
  textarea::-moz-focus-inner {
    border: 0; }
  textarea::-webkit-input-placeholder {
    color: #000; }
  textarea::-moz-placeholder {
    color: #000; }
  textarea:-ms-input-placeholder {
    color: #000; }

.label {
  color: #fff;
  font-style: italic;
  display: block;
  margin: 0 0 20px; }

/*Layout*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  color: #727272;
  font: 14px/28px 'Open Sans', sans-serif; }

a {
  color: #0067d1;
  transition: color 0.2s ease; }
  a:hover {
    color: #67aff9; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

main li {
  list-style: disc;
  padding: 0 0 15px; }

button, input[type="button"], input[type="submit"] {
  color: #fff;
  background-color: #0067d1;
  border: none; }

.holder {
  margin: auto;
  max-width: 1200px; }

.footer {
  background: #000; }
  .footer_top {
    background: #5e5e5e;
    padding: 8px 0 12px; }
  .footer_bottom {
    padding: 30px 0 65px; }
  .footer_newsletter {
    float: left; }
  .footer_newsletter-label {
    color: #dbdbdb;
    font-size: 18px;
    vertical-align: middle; }
  .footer_newsletter-input[type] {
    background: #afafaf;
    border: none;
    margin: 0 20px 0 25px;
    height: 17px;
    vertical-align: middle; }
  .footer_newsletter-button[type] {
    color: #fff;
    background: #393939;
    border-radius: 3px;
    font-size: 18px;
    padding: 8px 15px 9px;
    vertical-align: middle; }
    .footer_newsletter-button[type]:hover {
      background: #555; }
  .footer_copyright {
    float: left; }
    .footer_copyright p {
      color: #a0a0a0;
      margin: 0;
      line-height: 18px; }
  .footer_site-map {
    color: #fff; }
    .footer_site-map:hover {
      color: #ccc; }
  .footer_social {
    float: right;
    margin: 0 0 0 10%; }
  .footer_contacts {
    float: right;
    margin: 0 0 0 10%; }
  .footer_phone {
    color: #fefefe;
    font-size: 18px;
    line-height: 26px;
    margin: 0; }
  .footer_adress {
    color: #fff;
    position: relative; }
    .footer_adress:before {
      content: "";
      background: url(../img/marker.png) no-repeat;
      height: 20px;
      width: 13px;
      position: absolute;
      top: -5px;
      left: -25px; }
  .footer_up {
    color: #cacaca;
    font-size: 15px;
    line-height: normal;
    margin: 12px 0 0;
    float: right;
    position: relative; }
    .footer_up:hover {
      color: #fff; }
    .footer_up:after {
      content: "\2191";
      position: absolute;
      right: -15px; }

.pluso-more {
  display: none !important; }

h1, .heading-1 {
  color: #000;
  font: bold 40px/44px 'Roboto Slab', serif; }

h2, .heading-2 {
  color: #000;
  font: bold 30px/34px 'Roboto Slab', serif; }

h3, .heading-3 {
  color: #000;
  font: bold 24px/28px 'Roboto Slab', serif; }

h4, .heading-4 {
  color: #000;
  font: italic 20px/24px 'Open Sans', sans-serif; }

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  z-index: 10;
  display: none; }
  .popup_content {
    height: 100%;
    margin: auto;
    width: 550px; }
    .popup_content__center {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 655px; }
  .popup_close {
    font-size: 30px;
    position: absolute;
    top: 60px;
    right: 85px;
    text-decoration: none;
    z-index: 1; }
  .popup p:not([class]) {
    margin: 0 0 40px; }

.content {
  overflow: hidden; }

.page {
  padding: 20px 0; }

.breadcrumbs {
  font-size: 12px; }
  .breadcrumbs_link {
    color: #727272;
    margin: 0 15px 0 0;
    position: relative; }
    .breadcrumbs_link:after {
      content: "/";
      position: absolute;
      right: -9px;
      top: -6px; }
  .breadcrumbs_page {
    color: #b7b7b7; }

/*Header*/
.header_top {
  background: #282828;
  padding: 15px 0; }
.header_center {
  padding: 20px 0; }
.header_bottom {
  background: #fafafa;
  border-bottom: 2px solid #dbdfe5;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
  padding: 25px 0;
  text-align: right; }
.header_delivery {
  float: left;
  color: #616161;
  line-height: 18px;
  margin: 18px 0 0; }
.header_phones {
  float: right;
  margin: 0 0 0 75px;
  text-align: right; }
.header_phone-number {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  display: block; }

.cart {
  color: #fff;
  float: right;
  border-left: 1px solid #686869;
  padding: 0 0 0 20px;
  margin: 0 0 0 20px; }
  .cart_icon {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: url(../img/cart.png) no-repeat;
    display: inline-block;
    margin: 0 14px 0 0;
    height: 21px;
    width: 21px;
    vertical-align: middle; }
  .cart_link {
    color: #fff;
    font-weight: bold; }
    .cart_link:hover {
      color: #ccc; }
  .cart_total {
    font-weight: bold; }

.login {
  float: right; }
  .login_link {
    color: #fff;
    position: relative; }
    .login_link:before {
      content: "";
      background: url(../img/door.png) no-repeat;
      position: absolute;
      height: 21px;
      width: 15px;
      top: 0px;
      left: -30px; }
    .login_link:hover {
      color: #ccc; }

.menu {
  float: left; }
  .menu_list > li {
    list-style: none;
    float: left;
    margin: 0 30px 0 0;
    position: relative; }
  .menu_sublist {
    display: none;
    background: #fff;
    position: absolute;
    border: 1px solid #000;
    padding: 10px; }
  .menu_link {
    color: #fff;
    border-bottom: 1px solid;
    text-decoration: none;
    transition: 0.2s ease color; }
    .menu_link:hover, .menu_link__active {
      color: #61e0a8; }
    .menu_link__opener {
      position: relative;
      margin-right: 13px; }
      .menu_link__opener:after {
        content: "";
        background: url(../img/arrow-down.png) no-repeat;
        padding: 2px 3px;
        position: absolute;
        right: -13px;
        top: 8px; }
      .menu_link__opener:hover:after {
        background-position: 0 -7px; }

.logo {
  color: #0067d1;
  float: left;
  font: 34px 'Roboto Slab', serif;
  margin: 10px 60px 0 0;
  text-decoration: none; }

.search {
  float: right;
  margin: 20px 0 0;
  position: relative; }
  .search_input {
    padding-right: 40px;
    width: 285px; }
  .search_icon {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: url(../img/search.png) no-repeat;
    position: absolute;
    top: 5px;
    right: 11px;
    height: 17px;
    width: 20px; }

.categories-menu {
  float: left; }
  .categories-menu_link {
    color: #282828;
    font: bold 18px 'Roboto Slab', serif;
    margin: 0 42px 0 0; }
    .categories-menu_link:hover {
      color: #0067d1; }

/*Sidebar*/
.sidebar {
  float: right;
  margin: 0 0 0 50px;
  width: 21%; }

.sidebar {
  float: right;
  margin: 0 0 0 50px;
  width: 21%; }

.sidebar {
  float: right;
  margin: 0 0 0 50px;
  width: 21%; }

.sidebar {
  float: right;
  margin: 0 0 0 50px;
  width: 21%; }

/*Links*/
.link {
  color: #808080;
  padding: 0 10px 0 0;
  position: relative;
  transition: 0.2s ease color; }
  .link:hover {
    color: #fff; }

.footer_adress, .cart_link, .login_link, .fake-link {
  border-bottom: 1px dotted;
  text-decoration: none;
  transition: 0.2s ease color; }

.bordered-link {
  border: 1px dashed #dbdfe5;
  border-radius: 3px;
  padding: 10px 25px 11px; }

.link {
  color: #808080;
  padding: 0 10px 0 0;
  position: relative;
  transition: 0.2s ease color; }
  .link:hover {
    color: #fff; }

/*# sourceMappingURL=style.css.map */