.load-more {
    @extend %fake-link;
    color: $default_color;
    display: inline-block;
    margin: 20px 0 25px 25px;
    position: relative;

    &:before {
        content: '';
        background: url(../image/reload.png) no-repeat 0 center;
        position: absolute;
        left: -23px;
        top: 3px;
        width: 14px;
        height: 13px;
    }

    .blog & {
        margin-top: 0;
    }
}
