.price {
    border-radius: 4px;
    background: #ffefbb;
    color: $heading_color;
    display: inline-block;
    font: 14px $default_font-family;
    padding: 7px 12px 6px;
    text-decoration: none;
    position: absolute;
    bottom: 25px;
    left: $product_padding;
    transition: .2s ease all;

    &:hover {
        background-color: #ffeca9;
        color: $heading_color;
        border-radius: 4px 0 0 4px;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 40px;
    }
    &:after {
        content: '';
        background: #3aa672 url(../image/cart-light.png) no-repeat center center;
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        width: 40px;
        z-index: -1;
        transition: .3s ease-out right;
    }
    &:hover:after,
    .product__full &:after {
        right: -40px;
    }

    &_value {
        font: bold 20px $default_font-family;

        .product__full & {
            font-size: 24px;
        }
    }
    .product__big & {
        left: $product-big_padding;
        @include tablet {
            left: $product_padding;
        }
    }
    .product__full & {
        position: relative;
        top: 0;
        left: 0;
    }
    .blog &,
    .accessoirs & {
        position: relative;
        top: 0;
        left: 0;
        margin: 20px 0 0;
        display: inline-block;
    }
}
