$product_padding: 23px;
$product-big_padding: 325px;

.product {
    box-sizing: border-box;
    border: 1px solid $input_border-color;
    float: left;
    height: 590px;
    margin: 0 2% 20px 0;
    padding: 27px $product_padding 15px;
    position: relative;
    width: 30.9%;
    transition: .2s ease box-shadow;
    @include tablet {
        width: 46.8%;
    }
    @include mobile {
        margin-right: 0;
        width: 93%;
    }

    &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    }
    .catalog__wide & {
        width: 22.9%;
        @include tablet {
            width: 30.9%;
        }
        @include media(750px) {
            width: 46.8%;
        }
        @include mobile {
            margin-right: 0;
            width: 93%;
        }
    }
    .catalog__small & {
        margin-right: 0;
        width: 100%;
    }
    &__big {
        padding-left: $product-big_padding;
        width: 64%;
        @include tablet {
            padding-left: $product_padding;
            width: 46.8%;
        }

        .catalog__wide & {
            width: 48%;
            @include tablet {
                width: 30.9%;
            }
            @include media(750px) {
                width: 46.8%;
            }
            @include mobile {
                margin-right: 0;
                width: 93%;
            }
        }
    }
    &__full {
        float: right;
        border: none;
        height: auto;
        width: 44%;
        @include media($layout_width) {
            margin-right: 0;
        }
        @include tablet {
            float: none;
            clear: both;
            width: 100%;
        }

        &:hover {
            box-shadow: none;
        }
    }

    &_image {
        display: block;
        max-width: 100%;

        .product__big & {
            position: absolute;
            left: 0;
            top: 0;
            @include tablet {
                position: static;
                max-height: 180px;
                margin: auto;
            }
        }
    }
    &_link {
        font: bold 15px/20px $headings_font-family;
        display: block;
        margin: 15px 0 2px;

        .product__big & {
            font-size: 20px;
            line-height: 24px;
            @include tablet {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
    &_fake-link {
        @extend %fake-link;
        display: inline-block;
        margin: 0 0 10px;
    }
    &_links {
        margin: 20px 0;
    }
    &_stock {
        color: $heading_color;
        background: #daf1cf;
        display: inline-block;
        font-size: 11px;
        padding: 0px 5px;
        vertical-align: -4px;

        &__storage {
            background: #cfd4b4;
        }
        &__out {
            background: #dfdfdf;
        }
        .product__full & {
            font-size: 13px;
        }
    }
    &_order-time {
        font-size: 11px;
        vertical-align: -4px;

        .product__full & {
            font-size: 12px;
            vertical-align: -4px;
        }
    }
    &_specs {
        font-size: 12px;
        line-height: 15px;
        margin: 0;

        .product__big &,
        .product__full & {
            font-size: 14px;
            line-height: 18px;
        }
    }
    &   -string {
        white-space: nowrap;
    }
    &_specs-value {
        color: $heading_color;
    }
    &_specs-all {
        @extend %fake-link;
        color: #a5a5a5;
    }
    &_specs-hide {
        display: none;
    }
    &_description {
        color: #878686;
        font-size: 11px;
        line-height: 14px;
        margin: 10px 0 35px;

        .product__big & {
            font-size: 12px;
        }
    }

    &_old-price {
        position: absolute;
        left: 23px;
        bottom: 65px;
        text-decoration: line-through;
        color: #ff0000;

        .product__big & {
            left: $product-big_padding;
            @include tablet {
                left: inherit;
            }
        }
        .product__full & {
            position: static;
            display: block;
            margin: 0 0 10px;
        }
    }

    &_flag {
            position: absolute;
            top: 15px;
            left: 0;
            background: #ff3c65;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            padding: 8px 1px 8px 5px;

        &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 100%;
              border-style: solid;
              border-width: 18px 18px 18px 8px;
              border-color: transparent transparent transparent #ff3c65;
        }
        &__hit {
            background: #fc9e2f;

            &:after {
                border-left-color: #fc9e2f;
            }
        }
    }

    &_subtitle {
        font-size: 15px;
        margin: 0;
    }
    &_article {
        color: #bebebe;
        font-size: 12px;
        margin: 0 0 10px;
    }
    &_features {
        color: $heading_color;
        margin: 35px 0 0;
    }
    &_light-text {
        color: $default_color;
        display: block;
    }
    &_title {
        margin-bottom: 5px;
    }
}


.product-wrapper {
    @extend %clearfix;
}
