.rating {
    @include inline-block-wrapper;
    display: inline-block;
    margin: 0 10px 5px 0;

    &_star {
        @include invisible-text;
          background: url(../image/star.png) no-repeat;
          display: inline-block;
          margin: 0 2px 0 0;
          height: 14px;
          width: 14px;
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%);
          vertical-align: middle;

        &__filled {
          -webkit-filter: none;
                  filter: none;
        }
    }

    &_total {
        @include inline-block-optimized;
        display: inline-block;
        margin: 0 0 0 2px;
        vertical-align: middle;
        font-size: 12px;

        a {
          color:#727272;
          border-bottom:1px dotted #727272;
          text-decoration: none;
        }
        a:hover{
          color:#727272;
          border: none;
        }
    }

    .product__full & {
        margin: 0 0 15px;
    }
}
