.slider {
    @include media(620px) {
        display: none;
    }

    &_link {
      padding: 5px;
      margin: 8px 0;
      text-decoration: none;
    }
    &_image {
      cursor: pointer;
      width: 68px;
      border: 1px solid #e7ebec;
    }

}
