.footer {
    background: #000;

    &_top {
        @extend %clearfix;
        background: #5e5e5e;
        padding: 10px 0 12px;
    }
    &_bottom {
        @extend %clearfix;
        padding: 30px 0 65px;
        @include tablet {
            padding-bottom: 20px;
        }
    }
    &_newsletter {
        float: left;
        @include tablet {
            width: 100%;
            text-align: center;
        }
    }
    &_newsletter-label {
        color: #dbdbdb;
        font-size: 18px;
        vertical-align: middle;
        @include tablet {
            display: none;
        }
    }
    &_newsletter-input[type] {
        background: #afafaf;
        border: none;
        margin: 0 20px 0 25px;
        height: 17px;
        width: 280px;
        vertical-align: middle;
        @include media($layout_width) {
            width: 180px;
        }
        @include mobile {   
            margin: 0 0 10px;
            width: 90%;
        }
    }
    &_newsletter-button[type] {
        color: #fff;
        background: #393939;
        border-radius: 3px;
        font-size: 18px;
        padding: 8px 15px 9px;
        vertical-align: middle;

        &:hover {
            background: #555;
        }
    }
    &_copyright {
        float: left;
        margin: 8px 0 0;
        @include tablet {   
            margin-right: 40px;
            margin-bottom: 20px;
            width: 60%;
        }
        @include mobile {   
            margin: 0 0 10px;
            width: 100%;
        }

        p {
            color: #a0a0a0;
            margin: 0;
            line-height: 18px;
        }
    }
    &_site-map {
        @extend %border-link;
        color: #fff;

        &:hover {
            color: #ccc;
        }
    }
    &_social {
        float: right;
        margin: 0 0 0 16%;
        line-height: 0;
        @include media($layout_width) {
            margin-left: 8%;
        }
        @include tablet {
            float: left;
            margin: 0 0 20px;
        }

        a {
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }
    }
    &_contacts {
        float: right;
        margin: 0 0 0 35px;
        @include tablet {
            display: none;
        }
    }
    &_phone {
        color: #fefefe;
        font-size: 18px;
        line-height: 26px;
        margin: 0;
    }
    &_adress {
        @extend %fake-link;
        color: #fff;
        position: relative;

        &:before {
            content: "";
            background: url(../img/marker.png) no-repeat;
            height: 20px;
            width: 13px;
            position: absolute;
            top: -5px;
            left: -25px;
        }
        & + .footer_phone {
            margin-top: 15px;
        }
    }
    &_up {
        @extend %border-link;
        color: #cacaca;
        font-size: 15px;
        line-height: normal;
        margin: 12px 0 0;
        float: right;
        position: relative;
        @include tablet {
            display: none;    
        }

        &:hover {
            color: #fff;
        }
        &:after {
            content: "\2191";
            position: absolute;
            right: -15px;
        }
    }
    img {
        display: block;
        @include mobile {
            display: none;
        }
    }
}