%heading1 {
    color: $heading_color;
    font: bold 40px/44px $headings_font-family;
    margin: 16px 0 36px;
}
%heading2 {
    color: $heading_color;
    font: bold 30px/34px $headings_font-family;
}
%heading3 {
    color: $heading_color;
    font: bold 24px/28px $headings_font-family;
}
%heading4 {
    color: $heading_color;
    font: bold 18px/22px $default_font-family;
}
%heading5 {
    color: $heading_color;
    font: bold 15px/19px $default_font-family;
    margin: 0 0 10px;
}

h1, 
.heading-1 {
    @extend %heading1;
}
h2,
.heading-2 {
    @extend %heading2;
}
h3,
.heading-3 {
    @extend %heading3;
}
h4,
.heading-4 {
    @extend %heading4;
}
h5,
.heading-5 {
    @extend %heading5;
}



