body {
    color: $default_color;
    font: #{$default_font-size}/20px $default_font-family;
}
a {
    color: $link_color;
    transition: color .2s ease;

    &:hover {
        color: $link_color__hover;
    }
}
ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
main ul li:not([class]) {
    padding: 0 0 5px 45px;
    position: relative;
    &:before {
        content: "\2022";
        color: #0059c6;
        font-size: 18px;
        position: absolute;
        left: 25px;
        top: 0;
    }
}
main ol li:not([class]) {
    padding: 0 0 20px 40px;
    position: relative;
    counter-increment: i;
    &:before {
        content: counter(i);
        color: #0059c6;
        font-size: 14px;
        position: absolute;
        left: 20px;
        top: 0;
    }
}
button, 
input[type="button"], 
input[type="submit"] {
    color: $button_color;
    background-color: $button_background;
    border: none;
}
td, 
th {
    padding: 15px 10px 15px 15px;
    vertical-align: top;
    text-align: left;
}
th {
    background: #fafafa;
}
tr td {
    border-top: 1px solid #f4f5f7;
} 
tbody tr:first-child td {
    border: none;
}
p {
    margin: 0 0 20px;
}