.tabs {
    clear: both;

    &_link {
        @extend %border-link;
        font: bold 24px $headings_font-family;
        display: inline-block;
        margin: 0 55px 55px 0;

        &:hover {
            color: $link_color__green;
        }
        &__active,
        &__active:hover {
            color: #000;
            border: none;
            cursor: default;
        }
    }
    &_content {
        display: none;
    }
}