.tabs {
    clear: both;
    margin: 30px 0 0;

    &_title {
        color: #000;
        font: bold 30px $headings_font-family;
        margin: 0 40px 0 0;
    }
    &_link {
        @extend %border-link;
        font: bold 24px $headings_font-family;
        display: inline-block;
        margin: 0 55px 45px 0;

        &:hover {
            color: $link_color__green;
        }
        &__active,
        &__active:hover {
            color: #000;
            border: none;
            cursor: default;
        }
        .tabs__small & {
            font: normal 18px $default_font-family;
            margin-right: 25px;
            margin-bottom: 25px;

            &__active,
            &__active:hover {
                background: #fbda2d;
                padding: 4px 8px 5px;
            }
        }
    }
    &_content {
        display: none;
    }
}