.social {
    @include invisible-text;
    background: url(../image/social.png) no-repeat;
    display: inline-block;
    margin: 0 10px 20px 0;
    height: 29px;
    width: 28px;
    transition: .2s ease opacity;

    &__twitter {
        background-position: -29px 0;
    }
    &__fb {
        background-position: 0 0;
    }
    &__vk {
        background-position: -87px 0;
    }
    &__google {
        background-position: -58px 0;
    }
}
