.advantages {
    background: $sidebar_background;
    margin: 0 0 40px;
    padding: 10px $sidebar_horisontal-padding;
    @include media(750px) {
        display: none;
    }

    &__inline{
        background: transparent;
        margin: 0 -5% 0 0;
        padding: 0;
        @include tablet {
            display: block;
        }
        @include media(700px) {
            display: none;
        }
    }
}
.advantage {
    color: #000;
    line-height: 20px;
    padding: 25px 0 15px;
    position: relative;

    .advantages__inline & {
        display: inline-block;
        width: 30%;
        margin: 0 2% 0 0;
        font-size: 18px;
        vertical-align: top;

        p {
            margin: 6px 0 0 90px;
            @include tablet {
                margin-left: 70px;
            }
        }
        &:before {
            content: none;
        }
    }
    &:before {
        content: "";
        background: #e8ebef;
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        width: 100px;
    }
    &:first-child:before {
        display: none;
    }
    &_icon {
        background-repeat: no-repeat;
        background-position: 0 center;
        margin: 0 0 15px;
        display: block;
        height: 55px;

        &__recomendations {
            background-image: url(../image/advantages/recomendations.png);
        }
        &__warranty {
            background-image: url(../image/advantages/warranty.png);
        }
        &__delivery {
            background-image: url(../image/advantages/delivery.png);
        }
        &__stock {
            background-image: url(../image/advantages/stock.png);
        }

        .advantages__inline & {
            float: left;
            width: 55px;
        }
    }
}
