.blog {
    @include tablet {
        display: none;    
    }

    &__products {
        margin: 65px 0 0;
        @include tablet {
            display: block;    
        }
    }
    &_title {
        font: bold 15px/21px $headings_font-family;
        display: inline-block;
        margin: 0 0 12px;

        .blog__big & {
            font-size: 18px;
            line-height: 24px;
            font-weight: normal;
            margin-bottom: 8px;
        }
    }
    &_all {
        @extend %button-link;
        float: right;
        margin: 1px 0 0 20px;
    }
    &_date {
        color: #b4b4b4;
        font-size: 12px;
        font-style: italic;
        display: block;
        margin: 0;
    }
    &_article {
        border-top: 1px solid #ebeef3;
        padding: 10px 0 30px;

        .blog__big & {
            padding-bottom: 0;

            p:not([class]) {
                font-size: 15px;
                line-height: 22px;
            }
        }
        .blog__products & {
            float: left;
            margin: 0 3% 20px 0;
            width: 30%;
            @include tablet {
                margin-right: 5%; 
                width: 45%;
            }
            @include mobile {
                margin-right: 0; 
                width: 100%;
            }
        }
        p:not([class]) {
            line-height: 18px;
            margin: 8px 0 5px;

            .blog__products & {
                font-size: 11px;
                line-height: 14px;
            }
        }
        img {
            margin: 10px 0 12px;
            max-width: 100%;

            .blog__products & {
                display: block;
                margin: 0 0 10px;
            }
        }
    }
    &_image {
        display: block;
    }
    &_author {
        font-weight: bold;
        margin: 3px 0 0;
    }
}