.catalog-menu {
    background: $sidebar_background;
    margin: 0 0 40px;
    padding: $sidebar_padding;

    &_title {
        font: bold 18px $default_font-family;
        margin: 0 0 10px;
    }
    &_link {
        color: $default_color;
        display: inline-block;
        font-size: 15px;
        line-height: 18px;
        padding: 4px 9px 5px;
        text-decoration: none;

        &:hover {
            color: #000;
        }
        &__active {
            background: #fbda2d;
            padding-top: 8px;
            padding-bottom: 7px;
        }
        .catalog-menu_sublist & {
            font-size: 13px;
            padding: 8px 9px 9px;
            text-decoration: underline;
        }
    }
    .catalog-menu_sublist li {
        padding: 0 0 0 10px;
        position: relative;

        &:before {
            content: "-";
            position: absolute;
            left: 0;
            top: 3px;
        }
    }
}